* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: var(--violet50);
    background-color: var(--neutral950);
    font-family: "Inter", sans-serif;
}

section {
    max-width: 1240px;
    margin: 0 auto;
}

a {
    text-decoration: unset;
    color: inherit;
}

/* -------- HEADER & FOOTER -------- */
header,
footer {
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header #logo {
    font-size: 20px;
    line-height: 20px;
    font-family: monospace;
}

header nav,
footer nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
}

header nav a,
footer nav a {
    line-height: 24px;
    border-bottom: 2px solid transparent;
    padding: 2px 4px;
    transition: border-bottom-color 0.1s ease;
}

header nav a:hover,
footer nav a:hover {
    border-bottom-color: var(--violet300);
}

/* -------- FOOTER -------- */
footer span {
    font-size: 18px;
    line-height: 28px;
}